{% extends '@PHPZlcAdmin/page/index.html.twig' %}

{% block main_content %}
    <div class="add-page clearfix">
        <el-form :model="form" :rules="rules" ref="form" label-width="100px" label-position="left" class="form-content">
            <el-form-item label="标签名称:" prop="name" size="mini" class="el-form-width-all" label-width="130px">
                <el-input v-model="form.name" placeholder="请输入" style="width: 150px"></el-input>
            </el-form-item>

            <el-form-item label="标签描述:" prop="describe" size="mini" class="el-form-width-all" label-width="130px">
                <el-input type="textarea" v-model="form.describe"></el-input>
            </el-form-item>

        </el-form>
    </div>
{% endblock %}

{% block main_content_vue %}
    <script>
        new Vue({
            el: '#main-content',
            data: function () {
                return {
                    id: '',
                    form: {
                        id: '',
                        name: '',
                        describe: '',
                    },
                    rules: {
                        name: [
                            { required: true, message: '请输入标签名称', trigger: 'blur' },
                        ],

                        describe: [
                            { required: true, message: '请输入标签描述', trigger: 'blur' },
                        ],
                    },

                }
            },
            created() {
                // // 页面初始化使用
                // console.log(1);
            },
            methods: {
                submitForm(formName) {
                    const that = this;
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            {% if app.request.get('id') is not null %}
                            {#var url = "{{ path('admin_manage_message_manage_edit') }}?id={{ app.request.get('id') }}";#}
                            $.post(url, that.form, function (result) {
                                resultPreprocess(that, result,"{{ admin_url_anchor() }}")
                            });
                            {% elseif app.request.get('id') is null %}
                            {#var url = "{{ path('admin_manage_message_manage_create')}}";#}
                            $.post(url, that.form, function (result) {
                                resultPreprocess(that, result,"{{ admin_url_anchor() }}")
                            });
                            {% endif %}
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm() {
                    window.location.href ="{{ admin_url_anchor() }}";
                },
                handleChange(value) {
                    console.log(value);
                },
                handleRemove(file, fileList) {
                    console.log(file, fileList);
                },
                handlePreview(file) {
                    console.log(file);
                },
            }
        })
    </script>
{% endblock %}