{% extends '@PHPZlcAdmin/page/index.html.twig' %}

{% block main_content %}
<div class="add-page clearfix">
    <el-form :model="form" :rules="rules" ref="form" label-width="100px" label-position="left" class="form-content">
        <el-form-item label="文章标题:" prop="title" size="mini" class="el-form-width-all">
            <el-input v-model="form.title" placeholder="请输入标题"></el-input>
        </el-form-item>

        <el-form-item label="文章概要:" prop="summary" size="mini" class="el-form-width-all">
            <el-input v-model="summary" placeholder="请输入概要" maxlength="144"></el-input>
            <span style="padding-left: 10px">还可输入${ titleFontNum }$个字符</span>
        </el-form-item>

        <el-form-item label="缩略图:" prop="thumbnail" size="mini" class="el-form-width-all">
            <el-upload
                    class="upload-demo"
                    action="{{ path('upload_file') }}"
                    :limit="1"
                    :on-remove="removeThumbnailFileList"
                    :on-success="fileUploadResponse"
                    :file-list="uploadThumbnailFileList"
                    :data="{uploadType:1}"
                    list-type="picture"
            >
                <el-button size="small" type="primary">点击上传</el-button>
                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过10M，<p style="color:#ff0000 ">如果需要重新上传，请删除已上传的缩略图，再进行上传操作</p></div>
            </el-upload>
        </el-form-item>

        <el-form-item label="标签:" prop="label" size="mini" class="el-form-width-all">
            <el-select v-model="form.label" multiple placeholder="请选择">
                <el-option
                        v-for="item in labelOptions"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                >
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="内容" prop="content" size="mini" class="el-form-width-all" class="form-content">
            <el-ueditor id="editor" action="{{ path('upload_file') }}" content="{{ info.content | default }}"></el-ueditor>
        </el-form-item>

        <el-form-item size="mini">
            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
            <el-button @click="resetForm()">取消</el-button>
        </el-form-item>
    </el-form>
</div>
{% endblock %}


{% block main_content_vue %}
    <script>
        new Vue({
            el: '#main-content',
            delimiters: ['${', '}$'],
            data: function () {
                return {
                    id: '',
                    form: {
                        id: '{{ info.id|default }}',
                        title: '{{ info.title|default }}',
                        content: '',
                        label:[
                            {% if article_labels is not empty %}
                                {%  for item in article_labels %}
                                '{{ item.label.id | default }}',
                                {% endfor %}
                            {% endif %}
                        ],
                        thumbnail:'{{ info.thumbnail | default }}',
                        summary: '{{ info.articleSummary | default }}'
                    },
                    rules: {
                        title: [
                            { required: true, message: '请输入标题', trigger: 'blur' },
                        ],

                        content: [
                            { required: true, message: '请输入内容', trigger: 'blur' },
                        ],

                        summary: [
                            { required: true, message: '请输入文章概要', trigger: 'blur'}
                        ]
                    },

                    labelOptions:[
                        {% for item in labels %}
                        {
                            id:"{{ item.id | default }}",
                            name: "{{ item.name | default }}"
                        },
                        {% endfor %}
                    ],

                    uploadThumbnailFileList:[
                        {% if info.thumbnail | default  is not empty %}
                        {
                            name:'缩略图',
                            url:"{{ info.thumbnailPath | default }}"
                        }
                        {% endif %}
                    ],

                    titleFontNum: "{{ info.articleSummary | length }}",
                    summary: "{{ info.articleSummary }}"

                }
            },
            created() {
                // // 页面初始化使用
                // console.log(1);
                this.fontNumCompute();
            },

            watch: {
                summary: function (){
                    this.form.summary = this.summary;
                    this.fontNumCompute();
                }
            },
            methods: {
                submitForm(formName) {
                    this.form.content = UE.getEditor('editor').getContent();
                    const that = this;
                    {% if app.request.get('id') is not null %}
                    var url = "{{ path('admin_blog_manage_article_edit') }}?id={{ app.request.get('id') }}";
                    $.post(url, that.form, function (result) {
                        resultPreprocess(that, result,"{{ admin_url_anchor() }}")
                    });
                    {% elseif app.request.get('id') is null %}
                    var url = "{{ path('admin_blog_manage_article_create')}}";
                    $.post(url, that.form, function (result) {
                        resultPreprocess(that, result,"{{ admin_url_anchor() }}")
                    });
                    {% endif %}
                },
                resetForm() {
                    window.location.href ="{{ admin_url_anchor() }}";
                },
                handleChange(value) {
                    console.log(value);
                },
                handleRemove(file, fileList) {
                    console.log(file, fileList);
                },
                handlePreview(file) {
                    console.log(file);
                },

                fileUploadResponse(response, file, fileList){
                    if(response.code == 0){
                        file.path = response.data.path;
                        this.form.thumbnail = file.path;
                    }else {
                        this.$message.error(response.msg);
                        fileList.splashArray(fileList.length-1, 1);
                    }
                },

                removeThumbnailFileList(){
                    this.form.thumbnail = ''
                },

                fontNumCompute(){
                    this.titleFontNum = 144 - this.form.summary.length;
                }
            }
        })
    </script>
{% endblock %}