{% extends '@PHPZlcAdmin/page/index.html.twig' %}

{% block main_content %}
    <div class="add-page clearfix">
        <el-form :model="form" :rules="rules" ref="form" label-width="100px" label-position="left" class="form-content">
            <el-form-item label="分类编号:" prop="classify_no" size="mini" class="el-form-width-all" label-width="100px">
                <el-input v-model="form.classify_no" placeholder="请输入" style="width: 150px"></el-input>
            </el-form-item>

            <el-form-item label="分类名称:" prop="classify_name" size="mini" class="el-form-width-all" label-width="100px">
                <el-input v-model="form.classify_name" placeholder="请输入" style="width: 150px"></el-input>
            </el-form-item>

            <el-form-item size="mini">
                <el-button type="primary" @click="submitForm('Form')">提交</el-button>
                <el-button @click="resetForm()">取消</el-button>
            </el-form-item>

        </el-form>
    </div>
{% endblock %}

{% block main_content_vue %}
    <script>
        new Vue({
            el: '#main-content',
            delimiters: ['${', '}$'],
            data: function () {
                return {
                    form: {
                        classify_no: "{{ classify.classifyNo | default }}",
                        classify_name: "{{ classify.classifyName | default }}",
                    },
                    rules: {
                        classify_no: { required: true, message: '请输入分类编号', trigger: 'blur' },
                        classify_name: { required: true, message: '请输入分类名称', trigger: 'blur' },
                    },
                }
            },
            created() {
                // 页面初始化使用
                console.log(1);
            },
            methods: {
                submitForm(formName) {
                    const that = this;
                    {% if app.request.get('id') is not null %}
                    var url = "{{ path('admin_manage_sort_edit') }}?id={{ app.request.get('id') }}";
                    $.post(url, that.form, function (result) {
                        resultPreprocess(that, result,"{{ admin_url_anchor() }}")
                    });
                    {% elseif app.request.get('id') is null %}
                    var url = "{{ path('admin_manage_sort_create')}}";
                    $.post(url, that.form, function (result) {
                        resultPreprocess(that, result,"{{ admin_url_anchor() }}")
                    });
                    {% endif %}
                },

                resetForm(formName) {
                    window.location.href ="{{ admin_url_anchor() }}";
                },

            }
        })
    </script>
{% endblock %}