{% extends '@PHPZlcAdmin/page/index.html.twig' %}

{% block main_content %}
<div class="search-page clearfix">
    <el-row class="page-search">
        <el-form ref="searchForm" :inline="true" :model="searchForm" label-width="90px" style="margin-left: 10px">
            <el-form-item label="分类编号:" prop="classify_no">
                <el-input v-model="searchForm.classify_no" size="mini" clearable placeholder="请输入分类编号"></el-input>
            </el-form-item>

            <el-form-item label="分类名称:" prop="classify_name">
                <el-input v-model="searchForm.classify_name" size="mini" clearable placeholder="请输入"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" size="mini" @click="searchBtn()"> 搜索 </el-button>
                <el-button size="mini" @click="resetForm('searchForm')"> 重置 </el-button>
            </el-form-item>
        </el-form>
    </el-row>

    <el-row class="list-btn-content mt-10">
        <el-button size="mini" type="primary" @click="handleCreate()"> 新建 </el-button>
    </el-row>

    <el-table class="mt-10" :data="tableData" style="width: 100%" border>

        <el-table-column prop="classify_no" label="分类编号"></el-table-column>
        <el-table-column prop="classify_name" label="分类名称"></el-table-column>
        <el-table-column prop="createAt" label="创建时间"></el-table-column>
        <el-table-column prop="updateAt" label="编辑时间"></el-table-column>

        <!-- 添加操作行 start -->
        <el-table-column prop="date" label="操作" width="250">
            <template slot-scope="scope">
                <el-button size="mini" @click="handleEdit(scope.$index, scope.row)" type="primary"> 编辑 </el-button>
                <el-button size="mini" @click="handleDelete(scope.$index, scope.row)" type="danger"> 删除 </el-button>
            </template>
        </el-table-column>
        <!-- 添加操作行 end -->

    </el-table>

    <!-- 分页 start -->
    <el-col class="mt-20 clearfix">
        <el-pagination class="page" @current-change="handleCurrentChange" @size-change="handleSizeChange"
                       :page-sizes="[20, 60, 100, 200]" :page-size="{{ rows }}" :hide-on-single-page="true" :current-page="{{ page }}"
                       layout="total, sizes, prev, pager, next, jumper" :total="{{ count }}">
        </el-pagination>
    </el-col>
    <!-- 分页 end -->
</div>

{% endblock %}

{% block main_content_vue %}
    <script>
        new Vue({
            el: '#main-content',
            data: function () {
                return {
                    searchForm: {
                        classify_no: '{{ app.request.get('classify_no') }}',
                        classify_name: '{{ app.request.get('classify_name') }}',
                    },
                    tableData: [
                        {% for item in data %}
                        {   id: "{{ item.id | default }}",
                            classify_no: "{{ item.classifyNo | default }}",
                            classify_name: "{{ item.classifyName | default }}",
                            createAt: "{{ item.createAt | date('Y-m-d H:i:s') }}",
                        {% if item.updateAt is not null %}
                            updateAt: "{{ item.updateAt | date('Y-m-d H:i:s') }}",
                        {% else %}
                            updateAt: "",
                        {% endif %}
                        },
                        {% endfor %}
                    ],
                }
            },
            methods: {
                // 修改当前页数按钮
                handleCurrentChange(val) {
                    window.location.href = urlParamWrite(getSelfUrl(), 'page', val);
                },

                // 修改行数按钮
                handleSizeChange(val) {
                    window.location.href = urlParamWrite(getSelfUrl(), 'rows', val);
                },

                // 搜索按钮
                searchBtn() {
                    window.location.href = splicingGetParamsToUrl("{{ path('admin_manage_sort_index') }}", this.searchForm);
                },
                // 重置按钮
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },

                // 新建按钮
                handleCreate(){
                    window.location.href = "{{ path('admin_manage_sort_page') }}";
                },

                // 删除按钮
                handleDelete(index, row) {
                    this.$confirm('此操作将永久删除该分类, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        const that = this;
                        $.post("{{ path('admin_manage_sort_delete') }}", {"id": row.id}, function(data) {
                            resultPreprocess(that, data,'','')
                        }, )
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },

                // 编辑按钮
                handleEdit(index, row) {
                    window.location.href = "{{ path('admin_manage_sort_page') }}?id=" + row.id;
                },


            }
        })
    </script>
{% endblock %}