{% extends 'blog/base/head.html.twig' %}

{% block main_content %}
    <!--中间内容-->
    <div  class="m-container m-padded-tb-big">
        <div class="ui container">

            <div class="ui stackable grid">
{#                <div class="five wide column">#}
{#                    <div class="ui segment">#}
{#                        <img src="{{ admin_asset('asset/face.png') }}" alt="" width="300" height="300" class="ui rounded image">#}
{#                    </div>#}
{#                </div>#}
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>

                    <div class="ui attached segment">
                        <div class="m-text">在Symfony4的基础上,为  PHP开发者提供成熟的Web应用程序开发教程和业务组件。</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="ui orange basic left pointing">用户名：{{ user.userName | default }}</p>
                    </div>

                    <div class="ui attached segment">
                        <div class="ui orange basic left pointing">登录时间： {{ user.userAuth.lastLoginAt | date('Y-m-d H:i:s') }}</div>
                    </div>

                    <div class="ui attached segment">
                        <div class="ui orange basic left pointing"><a href="{{ path('blog_edit_password') }}">修改密码</a></div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic left pointing m-margin-tb-tiny"><a href="{{ path('blog_login_out') }}" style="color: red">退出登录</a></div>
                    </div>

{#                    <div class="ui wechat-qr flowing popup transition hidden">#}
{#                        <img src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">#}
{#                    </div>#}
                </div>
            </div>

        </div>
    </div>

    <br>
    <br>

{% endblock %}