{% extends 'blog/base/head.html.twig' %}

{% block main_content %}
    <!--中间内容-->
    <div id="waypoint" class="m-container-small m-padded-tb-big animated fadeIn">
        <div class="ui container">
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="{{ article.thumbnailPath | default }}" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header">{{ article.userAuth.subjectName | default }}</a></div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i> {{ article.createAt | date('Y-m-d') }}
                    </div>
                    <div class="item">
                        <i class="eye icon"></i> {{ article.views | default(0) }}
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <!--图片区域-->
                <div class="ui horizontal link list"><h3>{{ article.title | default }}</h3></div>
            </div>
            <div class="ui  attached padded segment">
                <!--内容-->
                <div class="ui right aligned basic segment">
                    <div class="ui orange basic label">原创</div>
                </div>

                {{ article.content | raw }}

                <!--标签-->
                <div class="m-padded-lr-responsive">
                    {% if article.labels is not empty %}
                        {% for key in article.labels %}
                    <div class="ui basic teal left pointing label">{{ key }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <!--赞赏-->
                <div class="ui center aligned basic segment">
                    <button id="payButton" class="ui orange basic circular button">收藏</button>
                </div>

            </div>
            <div class="ui attached positive message">
                <!--博客信息-->
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <ui class="list">
                            <li>作者：{{ article.userAuth.subjectName | default }}（联系作者）</li>
                            <li>发表时间：{{ article.createAt | date('Y-m-d H:i:s') }}</li>
                            <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                            <li>公众号转载：请在文末添加作者公众号二维码</li>
                        </ui>
                    </div>
                    <div class="five wide column">
                        <img src="../static/images/wechat.jpg" alt="" class="ui right floated rounded bordered image" style="width: 110px">
                    </div>
                </div>
            </div>
            <div id="comment-container" class="ui bottom attached segment">
                <!--留言区域列表-->
                <div class="ui teal segment">
                    <div class="ui threaded comments" id="comments">
                        <h3 class="ui dividing header">Comments</h3>
                        {% for item in commentaries %}
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://unsplash.it/100/100?image=1005">
                            </a>
                            <div class="content">
                                <a class="author">{{ item.user.subjectName | default }}</a>
                                <div class="metadata">
                                    <span class="date">{{ item.creatAt | date('Y-m-d H:i:s') }}</span>
                                </div>
                                <div class="text">
                                   {{ item.content | default }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- 留言区域表结束 -->

                <div class="ui form">
                    <div class="field">
                        <textarea id="content" name="content" placeholder="请输入评论信息..."></textarea>
                    </div>
                    <div class="fields">
                        <div class="field  m-margin-bottom-small m-mobile-wide">
                            <button id="submit" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none">
        <div class="ui vertical icon buttons ">
            <button type="button" class="ui toc teal button" >目录</button>
            <a href="#comment-container" class="ui teal button" >留言</a>
            <button class="ui wechat icon button"><i class="weixin icon"></i></button>
            <div id="toTop-button" class="ui icon button" ><i class="chevron up icon"></i></div>
        </div>
    </div>

    <div class="ui toc-container flowing popup transition hidden" style="width: 250px!important;">
        <ol class="js-toc">

        </ol>
    </div>

    <div id="qrcode" class="ui wechat-qr flowing popup transition hidden "style="width: 130px !important;">
        <!--<img src="./static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 120px !important;">-->
    </div>

    <br>
    <br>

    <script>
        $(document).ready(function (){
            $("#submit").click(function (){
                if(!$("#content").val()){
                    alert('评论不能为空');
                }else {
                    var content = $('#content').val();
                    $('#content').val("");

                    $.ajax({
                        type: "post",
                        url: "{{ path('blog_comment') }}",
                        data: {id:"{{ article.id }}", content:content},
                        datatype: "json",
                        success: function (data){
                            console.log(data);
                            alert(data.msg);
                            var comments = data.data.comments;
                            var html = '<h3 class="ui dividing header"> Comments </h3>';
                            for (var i =0; i < comments.length; i++){
                                html +=  '<div class="comment">'+
                                    '<a class="avatar">'+
                                    '<img src="https://unsplash.it/100/100?image=1005">'+
                                    '</a>'+
                                    '<div class="content">'+
                                    '<a class="author">' + comments[i].user.subject_name +'</a>'+
                                    '<div class="metadata">'+
                                    '<span class="date">'+ comments[i].creat_at + '</span>'+
                                    '</div>' +
                                    '<div class="text">' +
                                    comments[i].content +
                                    '</div>'+
                                    '</div>' +
                                    '</div>'
                            }
                            $("#comments").empty()
                            $("#comments").append(html);
                        },
                        error: function (data){
                            alert(data.msg);
                        }
                    })
                }
            });


            $("#payButton").click(function (){
                $.ajax({
                    type: "post",
                    url: "{{ path('blog_collection') }}",
                    data: {id:"{{ article.id }}"},
                    datatype: "json",
                    success: function (data){
                        alert(data.msg);
                    },
                    error: function (data){
                        alert(data.msg);
                    }
                })
            })
        });
    </script>
{% endblock %}