{% extends '@PHPZlcAdmin/base/base.html.twig' %}

{% block hend %}
    <link rel="stylesheet" href="{{ admin_asset('blog/static/css/me.css') }}">
{% endblock %}

{% block body %}
    <body>
    <div class="login-page" id="login" >
        <div class="login-content">
            <div class="pull-left login-left">
                <img src="{{ admin_asset('asset/logo_black.png') }}" alt="">
                <p class="login-title" style="color: #0a001f">Demo博客</p>
                <div class="login-copy">
                    ©{{ "now" | date('Y') }} abcdefg
                </div>
            </div>
            <div class="pull-right login-right">
                <p class="login-right-text">CHANGE</p>
                <p class="login-right-text2">修改密码</p>
                <div class="login-input-content">
                    <el-input type="password" placeholder="请输入原始密码" v-model="oldPassword" clearable class="login-input">
                    </el-input>
                    <el-input type="password" placeholder="请输入新密码" v-model="newPassword" clearable class="login-input">
                    </el-input>

                    <el-button type="primary" class="login-btn" @click="loginBtn()">提交</el-button>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#login',
            data: function () {
                return {
                    oldPassword: null,
                    newPassword: null,
                    imgCode: null,
                    data_vue: null,

                }
            },

            mounted() {
                this.captcha();
            },

            created() {
                const that = this;
                // 页面初始化使用
                document.onkeydown = function (e) {
                    var key = window.event.keyCode;
                    if (key == 13) {
                        that.loginBtn();
                    }
                }
            },
            methods: {
                loginBtn() {
                    const that = this;
                    let validated = that._validate();
                    if (validated.success) {
                        $.post("{{ path('blog_edit_password') }}", {oldPassword: that.oldPassword, newPassword:that.newPassword}, function(data) {
                            resultPreprocess(that, data, '{{ path('blog_index') }}', '')
                        }, )
                    } else {
                        this.$message.error(validated.msg);
                    }

                },

                // 判断逻辑
                _validate() {
                    // 校验
                    return {
                        success: true
                    };
                },

            }
        })
    </script>
    </body>
{% endblock %}